---
output: flynt-{{ .variant }}.json
---
{
    "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
    "name": "{{ .label }}",
    "author": "Flynt Theme",
    "themes": [
        {
            "name": "{{ .label }}",
            "appearance": "{{ if eq .variant "dark" }}dark{{ else }}light{{ end }}",
            "style": {
                "accents": [
                    "{{ .amber }}",
                    "{{ .delft }}",
                    "{{ .teal }}",
                    "{{ .moss }}",
                    "{{ .fern }}",
                    "{{ .clay }}",
                    "{{ .plum }}",
                    "{{ .ember }}"
                ],
                "vim.mode.text": "{{ .bg }}",
                "vim.normal.foreground": "{{ .bg }}",
                "vim.helix_normal.foreground": "{{ .bg }}",
                "vim.visual.foreground": "{{ .bg }}",
                "vim.helix_select.foreground": "{{ .bg }}",
                "vim.insert.foreground": "{{ .bg }}",
                "vim.visual_line.foreground": "{{ .bg }}",
                "vim.visual_block.foreground": "{{ .bg }}",
                "vim.replace.foreground": "{{ .bg }}",
                "vim.normal.background": "{{ .amber }}",
                "vim.helix_normal.background": "{{ .amber }}",
                "vim.visual.background": "{{ .delft }}",
                "vim.helix_select.background": "{{ .delft }}",
                "vim.insert.background": "{{ .moss }}",
                "vim.visual_line.background": "{{ .delft }}",
                "vim.visual_block.background": "{{ .iris }}",
                "vim.replace.background": "{{ .ember }}",
                "background.appearance": "opaque",
                "border": "{{ .bg4 }}",
                "border.variant": "{{ .amber }}80",
                "border.focused": "{{ .amber }}",
                "border.selected": "{{ .amber }}",
                "border.transparent": "{{ .moss }}",
                "border.disabled": "{{ .tx5 }}",
                "elevated_surface.background": "{{ .bg3 }}",
                "surface.background": "{{ .bg3 }}",
                "background": "{{ .bg2 }}",
                "element.background": "{{ .bg2 }}",
                "element.hover": "{{ .bg4 }}",
                "element.active": "{{ .bg4 }}4d",
                "element.selected": "{{ .bg4 }}4d",
                "element.disabled": "{{ .tx5 }}",
                "drop_target.background": "{{ .bg4 }}66",
                "ghost_element.background": "#00000000",
                "ghost_element.hover": "{{ .bg3 }}4d",
                "ghost_element.active": "{{ .bg4 }}99",
                "ghost_element.selected": "{{ .bg5 }}66",
                "ghost_element.disabled": "{{ .tx5 }}",
                "text": "{{ .tx }}",
                "text.muted": "{{ .tx2 }}",
                "text.placeholder": "{{ .tx4 }}",
                "text.disabled": "{{ .tx5 }}",
                "text.accent": "{{ .amber }}",
                "icon": "{{ .tx }}",
                "icon.muted": "{{ .tx3 }}",
                "icon.disabled": "{{ .tx5 }}",
                "icon.placeholder": "{{ .tx4 }}",
                "icon.accent": "{{ .amber }}",
                "status_bar.background": "{{ .bg2 }}",
                "title_bar.background": "{{ .bg2 }}",
                "title_bar.inactive_background": "{{ .bg3 }}",
                "toolbar.background": "{{ .bg }}",
                "tab_bar.background": "{{ .bg2 }}",
                "tab.inactive_background": "{{ .bg3 }}",
                "tab.active_background": "{{ .bg }}",
                "search.match_background": "{{ .teal }}4d",
                "search.active_match_background": "{{ .amber }}4d",
                "panel.background": "{{ .bg3 }}",
                "panel.focused_border": "{{ .tx }}",
                "panel.indent_guide": "{{ .bg4 }}99",
                "panel.indent_guide_active": "{{ .tx5 }}",
                "panel.indent_guide_hover": "{{ .amber }}",
                "panel.overlay_background": "{{ .bg3 }}",
                "pane.focused_border": "{{ .tx }}",
                "pane_group.border": "{{ .bg4 }}",
                "scrollbar.thumb.background": "{{ .tx5 }}80",
                "scrollbar.thumb.hover_background": "{{ .tx4 }}",
                "scrollbar.thumb.active_background": null,
                "scrollbar.thumb.border": null,
                "scrollbar.track.background": "{{ .bg2 }}",
                "scrollbar.track.border": "{{ .tx }}12",
                "minimap.thumb.background": "{{ .amber }}33",
                "minimap.thumb.hover_background": "{{ .amber }}66",
                "minimap.thumb.active_background": "{{ .amber }}99",
                "minimap.thumb.border": null,
                "editor.foreground": "{{ .tx }}",
                "editor.background": "{{ .bg }}",
                "editor.gutter.background": "{{ .bg }}",
                "editor.subheader.background": "{{ .bg2 }}",
                "editor.active_line.background": "{{ .tx }}12",
                "editor.highlighted_line.background": null,
                "editor.line_number": "{{ .tx3 }}",
                "editor.active_line_number": "{{ .amber }}",
                "editor.invisible": "{{ .tx5 }}66",
                "editor.wrap_guide": "{{ .tx5 }}",
                "editor.active_wrap_guide": "{{ .tx5 }}",
                "editor.document_highlight.bracket_background": "{{ .amber }}17",
                "editor.document_highlight.read_background": "{{ .tx3 }}29",
                "editor.document_highlight.write_background": "{{ .tx3 }}29",
                "editor.indent_guide": "{{ .bg4 }}99",
                "editor.indent_guide_active": "{{ .tx5 }}",
                "terminal.background": "{{ .bg }}",
                "terminal.ansi.background": "{{ .bg }}",
                "terminal.foreground": "{{ .tx }}",
                "terminal.dim_foreground": "{{ .tx3 }}",
                "terminal.bright_foreground": "{{ .tx }}",
                "terminal.ansi.black": "{{ .bg2 }}",
                "terminal.ansi.white": "{{ .tx2 }}",
                "terminal.ansi.red": "{{ .ember }}",
                "terminal.ansi.green": "{{ .moss }}",
                "terminal.ansi.yellow": "{{ .amber }}",
                "terminal.ansi.blue": "{{ .delft }}",
                "terminal.ansi.magenta": "{{ .plum }}",
                "terminal.ansi.cyan": "{{ .teal }}",
                "terminal.ansi.bright_black": "{{ .bg5 }}",
                "terminal.ansi.bright_white": "{{ .tx }}",
                "terminal.ansi.bright_red": "{{ index (index .shades "ember") "300" }}",
                "terminal.ansi.bright_green": "{{ index (index .shades "moss") "300" }}",
                "terminal.ansi.bright_yellow": "{{ index (index .shades "amber") "300" }}",
                "terminal.ansi.bright_blue": "{{ index (index .shades "delft") "300" }}",
                "terminal.ansi.bright_magenta": "{{ index (index .shades "plum") "300" }}",
                "terminal.ansi.bright_cyan": "{{ index (index .shades "teal") "300" }}",
                "terminal.ansi.dim_black": "{{ .bg2 }}",
                "terminal.ansi.dim_white": "{{ .tx2 }}",
                "terminal.ansi.dim_red": "{{ .ember }}",
                "terminal.ansi.dim_green": "{{ .moss }}",
                "terminal.ansi.dim_yellow": "{{ .amber }}",
                "terminal.ansi.dim_blue": "{{ .delft }}",
                "terminal.ansi.dim_magenta": "{{ .plum }}",
                "terminal.ansi.dim_cyan": "{{ .teal }}",
                "link_text.hover": "{{ .teal }}",
                "conflict": "{{ .clay }}",
                "conflict.border": "{{ .clay }}",
                "conflict.background": "{{ .clay }}26",
                "created": "{{ .moss }}",
                "created.border": "{{ .moss }}",
                "created.background": "{{ .moss }}26",
                "deleted": "{{ .ember }}",
                "deleted.border": "{{ .ember }}",
                "deleted.background": "{{ .ember }}26",
                "hidden": "{{ .tx4 }}",
                "hidden.border": "{{ .tx4 }}",
                "hidden.background": "{{ .bg3 }}",
                "hint": "{{ .tx5 }}",
                "hint.border": "{{ .tx5 }}",
                "hint.background": "{{ .bg3 }}",
                "ignored": "{{ .tx4 }}",
                "ignored.border": "{{ .tx4 }}",
                "ignored.background": "{{ .tx4 }}26",
                "modified": "{{ .clay }}",
                "modified.border": "{{ .clay }}",
                "modified.background": "{{ .clay }}26",
                "predictive": "{{ .tx4 }}",
                "predictive.border": "{{ .delft }}",
                "predictive.background": "{{ .bg3 }}",
                "renamed": "{{ .teal }}",
                "renamed.border": "{{ .teal }}",
                "renamed.background": "{{ .teal }}26",
                "info": "{{ .teal }}",
                "info.border": "{{ .teal }}",
                "info.background": "{{ .tx3 }}33",
                "warning": "{{ .clay }}",
                "warning.border": "{{ .clay }}",
                "warning.background": "{{ .clay }}1f",
                "error": "{{ .ember }}",
                "error.border": "{{ .ember }}",
                "error.background": "{{ .ember }}1f",
                "success": "{{ .moss }}",
                "success.border": "{{ .moss }}",
                "success.background": "{{ .moss }}1f",
                "unreachable": "{{ .ember }}",
                "unreachable.border": "{{ .ember }}",
                "unreachable.background": "{{ .ember }}1f",
                "players": [
                    { "cursor": "{{ .amber }}", "selection": "{{ .amber }}66", "background": "{{ .amber }}" },
                    { "cursor": "{{ .iris }}", "selection": "{{ .iris }}66", "background": "{{ .iris }}" },
                    { "cursor": "{{ .delft }}", "selection": "{{ .delft }}66", "background": "{{ .delft }}" },
                    { "cursor": "{{ .teal }}", "selection": "{{ .teal }}66", "background": "{{ .teal }}" },
                    { "cursor": "{{ .moss }}", "selection": "{{ .moss }}66", "background": "{{ .moss }}" },
                    { "cursor": "{{ .clay }}", "selection": "{{ .clay }}66", "background": "{{ .clay }}" },
                    { "cursor": "{{ .plum }}", "selection": "{{ .plum }}66", "background": "{{ .plum }}" },
                    { "cursor": "{{ .ember }}", "selection": "{{ .ember }}66", "background": "{{ .ember }}" }
                ],
                "version_control.added": "{{ .moss }}",
                "version_control.deleted": "{{ .ember }}",
                "version_control.modified": "{{ .clay }}",
                "version_control.renamed": "{{ .teal }}",
                "version_control.conflict": "{{ .clay }}",
                "version_control.conflict_marker.ours": "{{ .moss }}33",
                "version_control.conflict_marker.theirs": "{{ .delft }}33",
                "version_control.ignored": "{{ .tx4 }}",
                "debugger.accent": "{{ .ember }}",
                "editor.debugger_active_line.background": "{{ .clay }}12",
                "syntax": {
                    "variable":                    { "color": "{{ .tx2 }}", "font_style": null, "font_weight": null },
                    "variable.builtin":            { "color": "{{ .rose }}", "font_style": null, "font_weight": null },
                    "variable.parameter":          { "color": "{{ .tx2 }}", "font_style": null, "font_weight": null },
                    "variable.member":             { "color": "{{ .tx3 }}", "font_style": null, "font_weight": null },
                    "variable.special":            { "color": "{{ .rose }}", "font_style": "italic", "font_weight": null },
                    "constant":                    { "color": "{{ .tx2 }}", "font_style": null, "font_weight": null },
                    "constant.builtin":            { "color": "{{ .tx2 }}", "font_style": null, "font_weight": null },
                    "constant.macro":              { "color": "{{ .clay }}", "font_style": null, "font_weight": null },
                    "module":                      { "color": "{{ .plum }}", "font_style": "italic", "font_weight": null },
                    "label":                       { "color": "{{ .teal }}", "font_style": null, "font_weight": null },
                    "string":                      { "color": "{{ .delft }}", "font_style": null, "font_weight": null },
                    "string.documentation":        { "color": "{{ .delft }}", "font_style": null, "font_weight": null },
                    "string.regexp":               { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "string.escape":               { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "string.special":              { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "string.special.path":         { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "string.special.symbol":       { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "string.special.url":          { "color": "{{ .delft }}", "font_style": "italic", "font_weight": null },
                    "character":                   { "color": "{{ .delft }}", "font_style": null, "font_weight": null },
                    "character.special":           { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "boolean":                     { "color": "{{ .teal }}", "font_style": null, "font_weight": null },
                    "number":                      { "color": "{{ .teal }}", "font_style": null, "font_weight": null },
                    "number.float":                { "color": "{{ .teal }}", "font_style": null, "font_weight": null },
                    "tag":                         { "color": "{{ .moss }}", "font_style": null, "font_weight": null },
                    "tag.attribute":               { "color": "{{ .tx4 }}", "font_style": "italic", "font_weight": null },
                    "tag.delimiter":               { "color": "{{ .tx }}", "font_style": null, "font_weight": null },
                    "type":                        { "color": "{{ .fern }}", "font_style": null, "font_weight": null },
                    "type.builtin":                { "color": "{{ .fern }}", "font_style": "italic", "font_weight": null },
                    "type.definition":             { "color": "{{ .moss }}", "font_style": null, "font_weight": null },
                    "type.interface":              { "color": "{{ .moss }}", "font_style": "italic", "font_weight": null },
                    "type.super":                  { "color": "{{ .moss }}", "font_style": "italic", "font_weight": null },
                    "attribute":                   { "color": "{{ .clay }}", "font_style": null, "font_weight": null },
                    "property":                    { "color": "{{ .tx3 }}", "font_style": null, "font_weight": null },
                    "function":                    { "color": "{{ .amber }}", "font_style": null, "font_weight": null },
                    "function.builtin":            { "color": "{{ .amber }}", "font_style": null, "font_weight": null },
                    "function.call":               { "color": "{{ .amber }}", "font_style": null, "font_weight": null },
                    "function.macro":              { "color": "{{ .clay }}", "font_style": null, "font_weight": null },
                    "function.method":             { "color": "{{ .amber }}", "font_style": null, "font_weight": null },
                    "function.method.call":        { "color": "{{ .amber }}", "font_style": null, "font_weight": null },
                    "constructor":                 { "color": "{{ .moss }}", "font_style": null, "font_weight": null },
                    "operator":                    { "color": "{{ .rose }}", "font_style": null, "font_weight": null },
                    "keyword":                     { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.modifier":            { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.type":                { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.coroutine":           { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.function":            { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.operator":            { "color": "{{ .rose }}", "font_style": null, "font_weight": null },
                    "keyword.import":              { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.repeat":              { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.return":              { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.debug":               { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.exception":           { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.conditional":         { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.conditional.ternary": { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "keyword.directive":           { "color": "{{ .plum }}", "font_style": null, "font_weight": null },
                    "keyword.directive.define":    { "color": "{{ .plum }}", "font_style": null, "font_weight": null },
                    "keyword.export":              { "color": "{{ .tx4 }}", "font_style": null, "font_weight": null },
                    "punctuation":                 { "color": "{{ .tx }}", "font_style": null, "font_weight": null },
                    "punctuation.delimiter":       { "color": "{{ .tx }}", "font_style": null, "font_weight": null },
                    "punctuation.bracket":         { "color": "{{ .tx }}", "font_style": null, "font_weight": null },
                    "punctuation.special":         { "color": "{{ .iris }}", "font_style": null, "font_weight": null },
                    "punctuation.special.symbol":  { "color": "{{ .rose }}", "font_style": null, "font_weight": null },
                    "punctuation.list_marker":     { "color": "{{ .rose }}", "font_style": null, "font_weight": null },
                    "comment":                     { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "comment.doc":                 { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "comment.documentation":       { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "comment.info":                { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "comment.error":               { "color": "{{ .ember }}", "font_style": "italic", "font_weight": null },
                    "comment.warning":             { "color": "{{ .clay }}", "font_style": "italic", "font_weight": null },
                    "comment.warn":                { "color": "{{ .clay }}", "font_style": "italic", "font_weight": null },
                    "comment.hint":                { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "comment.todo":                { "color": "{{ .clay }}", "font_style": "italic", "font_weight": null },
                    "comment.note":                { "color": "{{ .tx5 }}", "font_style": "italic", "font_weight": null },
                    "diff.plus":                   { "color": "{{ .moss }}", "font_style": null, "font_weight": null },
                    "diff.minus":                  { "color": "{{ .ember }}", "font_style": null, "font_weight": null },
                    "text":                        { "color": "{{ .tx3 }}", "font_style": null, "font_weight": null },
                    "emphasis":                    { "color": "{{ .tx2 }}", "font_style": "italic", "font_weight": null },
                    "emphasis.strong":             { "color": "{{ .tx }}", "font_style": null, "font_weight": 700 },
                    "embedded":                    { "color": "{{ .tx3 }}", "font_style": null, "font_weight": null },
                    "text.literal":                { "color": "{{ .moss }}", "font_style": null, "font_weight": null },
                    "title":                       { "color": "{{ .amber }}", "font_style": null, "font_weight": 800 },
                    "link_text":                   { "color": "{{ .delft }}", "font_style": null, "font_weight": null },
                    "link_uri":                    { "color": "{{ .teal }}", "font_style": "italic", "font_weight": null }
                }
            }
        }
    ]
}
